@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exam</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="main_div" style="max-width: 480px">
                <h1 id="question"></h1>
                <ul>
                        <li>
                                <input type="checkbox" id="chk_0"/>
                                <span id="text_0"/>
                        </li>
                        <li>
                                <input type="checkbox" id="chk_1"/>
                                <span id="text_1"/>
                        </li>
                        <li>
                                <input type="checkbox" id="chk_2"/>
                                <span id="text_2"/>
                        </li>
                        <li>
                                <input type="checkbox" id="chk_3"/>
                                <span id="text_3"/>
                        </li>
                </ul>
                <br/>
                <input type="button" id="test" class="button" value="Test"></button>
                <input type="button" id="next" class="button" value="Next"></button>
        </div>
        <div id="result_div" style="display:none">
                <h1>Result: <span id="result_passfail"></span></h1>
                <h2 id="result_correct">Correct: 0</h2>
                <h2 id="result_wrong">Wrong: 0</h2>
        </div>
    </body>

    <script>onLoad();</script>
</html>
